/* CSS Document for Screens */

*{
  margin: 0;
  padding: 0;
  border: 0;
}


body{
 font-size: 7px;
}
#container{
  width: 100%;
  height: 100%;
  color: #000;
}
header, #headersupport{background:#0a3c21;height: 60px;}

#headersupport h1{
  text-align: center;
  color: #fff;
  font-size:4em;
  padding: 1%;
}
#SecEnv{
  width: 100%;
  background:violet;
}
#SecEnv h1{
  font-size:4em;
  padding: 1%;
  padding-bottom: 0;
}
#SecEnv h2{
  font-size:3em;
  padding:  1%;
  padding-top: 0;
  padding-bottom:  0;
}
#desc{
  font-size: 1.75em;
}

#desc p{
  padding: 1%;
  /* padding-top:  0; */
}
#finfo{

}
#ratios{
  width: 50%;
  float: left;
}
#chart{
  width: 50%;
  float: right;
}
#PeRatio{
  background: #969696;
}
/* fix me 
text{
  font-size: 7px;
}
*/

#svg-container{
	/* background: black; */
}

.axis-label {
  font-weight: bold;
  letter-spacing: 0.75px;
}

.legend { 
  margin-top: 50px;
}

rect {
  stroke: #969696;
  stroke-width: 0.5px;
}

rect:hover {
  stroke: #000000;
  stroke-width: 1px;
}

rect.legend:hover {
  stroke: #969696;
  stroke-width: 0.5px;
}

#chart {
    position: relative;
    height: 0;
    width: 50%;
    padding: 0;
    padding-bottom: 100%;
}
#chart > svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.dot {
    fill: #10c1ac;
}


@media only screen and (max-width: 1000px) {
    #headersupport h1{
      padding-top: 2%;
      padding-bottom:0;
    }
    #SecEnv h1,h2{
      text-align:center;
    }
    #desc p{
      padding: 1.5%;
      padding-top:  0;
      padding-left: 2%;
    }
}